---
import '@fontsource-variable/source-code-pro';

import Hero from '@/components/Hero.astro';
import About from '@/components/About.astro';
import Experience from '@/components/Experience.astro';
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Hoja de Vida</title>
    </head>
    <body>
        <main class="my-10">
            <Hero />
            <About />
            <Experience />
        </main>
    </body>
</html>
<style is:global>
    html {
        font-family: "Source Code Pro Variable", monospace;
    }
</style>
