---
import '@fontsource-variable/montserrat';
import Hero from '@/components/Hero.astro';
import About from '@/components/About.astro';
import Experience from '@/components/Experience.astro';
import Education from '@/components/Education.astro';
import Skills from '@/components/Skills.astro';
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Hoja de Vida</title>
    </head>
    <body>
        <main class="my-5 mx-5">
            <Hero />
            <About />
            <Experience />
            <Education />
            <Skills />
        </main>
    </body>
</html>
<style is:global>
    html {
        font-family: 'Montserrat Variable', sans-serif;
    }
</style>
