---
import { basics } from '@/cv.json';
import Section from '@/components/Section.astro';
import Text from '@/components/Text.astro';

const title = 'Perfil profesional';
---

<Section title={title}>
    <Text>{basics.summary}</Text>
</Section>
