---
import type { SocialIcon } from '@/types';
import Github from '@/icons/Github.astro';
import Linkedin from '@/icons/Linkedin.astro';

interface Props {
    network: string;
    url: string;
    username: string;
    size: number;
}

const SOCIAL_ICONS: SocialIcon = {
    Github,
    Linkedin,
};

const { network, url, username, size } = Astro.props;
const Icon = SOCIAL_ICONS[network];
---

<span>
    <a class="flex gap-1 text-sm" href={url} target="_blank">
        <Icon size={size} />
        {username}
    </a>
</span>
