---
interface Props {
    skill: {
        name: string;
        level: string;
        keywords: string[];
    };
}

const { skill } = Astro.props;
---

<span class="bg-slate-300 rounded-md max-w-fit px-3 py-1 flex gap-1 text-xs">
    {skill.name}
</span>
